@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import 'https://fonts.googleapis.com/css?family=Do+Hyeon';



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  cursor: none;
}
body{
  background: #172d36;
  max-width: 100%;
  overflow: hidden;
  cursor: none;
}
.fork{
  position: fixed;
  top: 0;
  right: 0;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: none;
}
@media screen and (min-width: 900px){
.content{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
}
@media screen and (max-width: 900px) { 
  .center{
    display: flex;
    flex-direction: column;
    flex-flow: column nowrap;
  }
  .box{
    top: 13vh;
  }
  .card{
    min-height: 400px;
    bottom: 35vh;
  }
  .card__collection{
    display: none;
    opacity: 0;
    visibility: hidden;
  }
 }



/* First Social Card */



.box{
  width: 250px;
  height: 250px;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
  border-radius: 23px;
  flex-direction: column;
  color: black;
  position: relative;
  overflow: hidden;
}
.box img{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  z-index: 1;
  margin-bottom: 9px;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.808);
  transition: all .4s;
  user-select: none;
}
.box img:hover{
  transform: scale(1.03);
  box-shadow: 0px 0px 10px 4px rgba(255, 255, 255, 0.082);
}
.user_name{
  margin-bottom: 5px;
  font-size: 2rem;
}
.skill{
  color: rgba(255,255,255,0.555);
}
.cancel{
  position: absolute;
  width: 50px;
  height: 50px;
  background: #0f2027;
  bottom: 0;
  cursor: none;
  right: 0;
  color: rgba(255, 0, 0, 0.24);
  border-radius: 23px 0 23px 0;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all .4s;
}
.arr_container{
  position: absolute;
  width: 50px;
  height: 50px;
  background: #0f2027;
  bottom: 0;
  cursor: none;
  right: 0;
  border-radius: 23px 0 23px 0;
  color: rgb(70,70,70);
  font-size: 1.6rem;
  cursor: pointer;
  transition: all .4s;
} 
.arr_container:hover{
  color: rgb(136, 136, 136);
  cursor: none;

} 
.cancel:hover{
  color: rgba(255, 0, 0, 0.507);
}
.about{
  margin-right: 20%;
}
.arr_container i{
  transform: rotate(45 deg);
}
.active_arr{
  transform: translate(80%, 80%);
}
.left_container{
  position: absolute;
  background: #0f2027;
  width: 100%;
  height: 100%;
  border-radius: 23px;
  padding: 40px 0 0 20px;
  transition: all .4s;
  z-index: 2;
}
.off{
  transform: translate(-80%, -80%) rotate(90deg);
}
.active{
  transform: translate(0) rotate(0);
}
.left_container p{
  margin-bottom: 15px;
  font-size: 1.2rem;
  color: #cfcfcf;
}
.left_container .skills div{
  display: inline-block;
  color: rgb(155,155,155);
  border: 1px solid rgb(155,155,155);
  padding: 5px 10px;
  font-size: .9rem;
  margin: 2px 2px 2px 0;
}
.left_container .icons{
  font-size: 1.6rem;
  margin-top: 10px;
  gap: 10px;
}
.left_container .icons i{
  color: #cfcfcf;
  cursor: none;
  margin-right: 10px;
  transition: all .4s;
}
.left_container .icons i:hover{
  color: #2c5364;
}
.circle {
  display: block;
  position: absolute;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  padding: 2.8px;
  background-clip: content-box;
  animation: spin 10s linear infinite;
  top: 28px;
}

@keyframes spin { 
  100% { 
    transform: rotateZ(360deg);
  }
}
.success {
  border: 2.5px dashed #b58443;
  filter: drop-shadow(1px 1px 3px  rgb(255, 196, 0));
}
::selection {
  background-color:   #2c5364;

}



/* Second Social Card */



.hover_text{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #cfcfcf;
  margin-top: -5px;
  background: rgba( 44, 83, 100, 0.20 );
  backdrop-filter: blur( 12.0px );
  -webkit-backdrop-filter: blur( 12.0px );
  border: 1px solid rgba(0, 0, 0, 0.795);
  padding: 30px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: .7s;
}

.cards--two:hover .hover_text{
  transform: translateY(100px);
}

 .clear-fix:after {
	 display: block;
	 clear: both;
	 content: '';
}
 .img-responsive {
	 max-width: 100%;
	 height: auto;
}
 .card__collection {
	 position: relative;
	 display: block;
	 padding: 10px;
	 font-family: 'Do Hyeon', sans-serif;
	 overflow: hidden;
}
 .card__collection .cards {
	 width: 300px;
	 height: 400px;
	 display: block;
	 background-size: cover;
	 float: left;
	 border-radius: 15px;
	 position: relative;
	 overflow: hidden;
	 background-position: center;
	 margin: 10px;
}
 .card__collection .cards--one {
	 backface-visiblility: hidden;
}
 .card__collection .cards--one:hover:after {
	 bottom: -20px;
}
 .card__collection .cards--one:hover:before {
	 bottom: -10px;
}
 .card__collection .cards--one:hover .cards--one__rect {
	 left: 45%;
}
 .card__collection .cards--one:hover .cards--one__rect--back {
	 left: 50%;
}

 .card__collection .cards--one__rect p {
	 transform: skewY(-7deg);
	 position: relative;
}
 .card__collection .cards--two {
	 position: relative;
	 backface-visibility: hidden;
}
 .card__collection .cards--two p {
	 position: absolute;
	 top: 83%;
	 left: -100%;
	 text-transform: capitalize;
	 color: #fff;
	 font-size: 20px;
	 z-index: 8;
	 transition: all 0.6s ease;
}
.top-p{
  position: absolute;
  top: 49%;
  right: -70%;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
  font-size: 20px;
  z-index: 8;
  transition: all 0.4s ease;
}
 .card__collection .cards--two:hover p {
	 left: 8%;
}
.card__collection .cards--two:hover h4 {
  right: 3%;
}
 .card__collection .cards--two:hover img {
	 transform: translateY(-15px);
}
 .card__collection .cards--two:hover .cards--two__rect {
	 top: 75%;
}
 .card__collection .cards--two:hover .cards--two__rect:before {
	 transform: translateY(15px);
}
 .card__collection .cards--two:hover li {
	 transform: translateY(0);
}
 .card__collection .cards--two:hover .cards--two__tri {
	 right: -40%;
}
 .card__collection .cards--two:hover .cards--two__tri:before {
	 right: -312px;
}
 .card__collection .cards--two img {
	 transition: all 0.2s ease;
}
 .card__collection .cards--two__tri {
	 border-top: 220px solid transparent;
	 border-bottom: 190px solid transparent;
	 border-right: 288px solid #9e7352;
	 opacity: 0.9;
	 position: absolute;
	 display: block;
	 top: 0;
	 right: -100%;
	 transition: all 0.3s ease-in-out;
}
 .card__collection .cards--two__tri:before {
	 border-top: 220px solid transparent;
	 border-bottom: 190px solid transparent;
	 border-right: 288px solid #172d36;
	 position: absolute;
	 content: '';
	 display: block;
	 top: -220px;
	 right: -612px;
	 transition: all 0.3s ease-in-out;
	 transition-delay: 0.2s;
}
 .card__collection .cards--two__rect {
	 width: 750px;
	 height: 200px;
	 background: #9e7352;
	 display: block;
	 position: absolute;
	 top: 175%;
	 left: -78%;
	 transform: rotate(30deg);
	 z-index: 5;
	 opacity: 0.9;
	 transition: all 0.3s ease-in-out;
}
 .card__collection .cards--two__rect:before {
	 content: '';
	 display: block;
	 width: 100%;
	 position: relative;
	 height: 100%;
	 background: rgba(0, 0, 0, 0.918);
	 transform: translateY(200px);
	 z-index: 2;
	 transition: all 0.3s ease-in-out;
	 transition-delay: 0.1s;
}
 .card__collection .cards--two ul {
	 list-style: none;
	 position: absolute;
	 bottom: 0;
	 left: 10px;
	 z-index: 9;
}
 .card__collection .cards--two ul li {
	 display: inline-block;
	 font-size: 16px;
	 margin: 7px;
	 color: #fff;
	 transition: all 0.2s ease-in-out;
	 transform: translateY(100px);
}

.cards--two ul li:hover{
  color: #9e7352;
}



/* Third Social Card */



.card {
  width: 360px;
  position: relative;
  height: 400px;
  border-radius: 20px;
  overflow: hidden;
  background: #000;
  border: 1px solid #2e4c5852;
}
.card .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.card .image img {
  width: 100%;
  transition: .5s;
}
.card:hover .image img {
  opacity: .5;
  transform: translateX(30%);/*100%*/
}
.card .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;/*100%*/
  height: 100%;
  background: #172d36;
  border-radius: 20px;
  transition: .5s;
  transform-origin: left;
  filter: drop-shadow(0 5px 10px  #172d36);
  transform: perspective(2000px) rotateY(-90deg);
}
.card:hover .details {
  transform: perspective(2000px) rotateY(0deg);
}
.card .details .center {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  filter: drop-shadow(0 0px 2px  #ffffff9c);
  background: rgb(238, 233, 209);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.card .details .center h1 {
  margin: 0;
  padding: 0;
  color: #9e7352;
  line-height: 20px;
  font-size: 20px;
  text-transform: uppercase;
}
.card .details .center h1 span {
  font-size: 14px;
  color: #262626;
}
.card .details .center p {
  margin: 10px 0;
  padding: 0;
  color: #262626;
}
.card .details .center ul {
  margin: 10px auto 0;
  padding: 0;
  display: table;
}
.card .details .center ul li {
  list-style: none;
  margin: 0 5px;
  float: left;
}
.card .details .center ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #262626;
  color: #fff;
  width: 30px;
  height: 30px;
  transform: .5s;
  transition: .2s;
}
.card .details .center ul li a:hover {
  background: #9e7352;
}